<form #addForm="ngForm" ngForm novalidate class="row justify-content-md-center">
    <div class="col-md-4">
        <img [src]="imageUrl.value" />
    </div>
    
    <div class="col-md-4">

      <div class="form-group row">
        <label for="example-title-input" class="col-form-label">Title</label>
        <input class="form-control" type="text" id="example-title-input"
            required
            ngModel #title="ngModel" name="title">
        <div class="col-md-10">  
          <div *ngIf="title?.touched
            && title?.invalid
            && title?.errors.required"
            class="col alert alert-danger" role="alert">
            Please provide an title.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-imageUrl" class="col-form-label">Image Url</label>
        <input class="form-control" type="url" id="example-imageUrl"
            required pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png|jpeg)"
            ngModel #imageUrl="ngModel" name="imageUrl">
        <div class="col-md-10">         
          <div *ngIf="imageUrl.touched
            && imageUrl?.invalid
            && imageUrl?.errors?.required "
            class="col alert alert-danger" role="alert">
            Please provide an image Url.
          </div>
          <div *ngIf="imageUrl?.errors?.pattern"
          class="col alert alert-danger" role="alert">
            Please provide a valid Url.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-author" class="col-form-label">Author</label>
        <input class="form-control" type="text" id="example-author"
            required
            ngModel #author="ngModel" name="author">
        <div class="col-md-10">         
          <div *ngIf="author?.touched
            && author?.invalid
            && author?.errors?.required"
            class="col alert alert-danger" role="alert" >
            Please provide an Author Name.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-finalPrice" class="col-form-label">Final Price</label>
        <input class="form-control" type="text" id="example-finalPrice"
          required
          ngModel #finalPrice="ngModel" name="finalPrice">
        <div class="col-md-10">
            <div *ngIf="finalPrice?.touched
            && finalPrice?.invalid
            && finalPrice?.errors?.required"
            class="col alert alert-danger" role="alert" >
            Please provide an Final Price.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-regularPrice" class="col-form-label">Regular Price</label>
        <input class="form-control" type="tel" id="example-regularPrice"
          required
          ngModel #regularPrice="ngModel" name="regularPrice">
        <div class="col-md-10">
            <div *ngIf="regularPrice?.touched
            && regularPrice?.invalid
            && regularPrice?.errors?.required"
            class="col alert alert-danger" role="alert">
            Please provide an Regular Price.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="form-group row">
            <label for="example-publisher" class="col-form-label">Publisher</label>
            
            <select class="form-control" type="tel" id="example-publisher"
            required
            ngModel #publisher="ngModel" name="publisher" >
            <option *ngFor="let p of publishers">{{p.value}}</option>
            </select>
            <div class="col-md-10">
              <div *ngIf="publisher?.touched
              && publisher?.invalid
              && publisher?.errors?.required"
              class="col alert alert-danger" role="alert">
              Please provide an Regular Price.
              </div>
            </div>
            
        </div>

        <div class="form-group row">
            <label for="example-publishedDate" class="col-form-label">Published Date</label>
            
            <input class="form-control" type="tel" id="example-publishedDate"
            ngModel #publishedDate="ngModel" name="publishedDate">
        </div>

        <div class="form-group row">
            <label for="example-size" class="col-form-label">Size</label>
            
            <input class="form-control" type="tel" id="example-size"
            ngModel #size="ngModel" name="size">
            
        </div>

        <div class="form-group row">
            <label for="example-pageCount" class="col-form-label">Page Count</label>
            <input class="form-control" type="tel" id="example-pageCount"
                ngModel #pageCount="ngModel" name="pageCount">
        </div>

        <div id="isTikiNowDiv">
            <label for="example-isTikiNow">TikiNow</label><br/>

            <div id="divRadioTikiNow">
              <div class="form-check-inline form-check">
                <input type="radio" ngModel #isTikiNow="ngModel" class="form-check-input" value="true" name="isTikiNow">
                <label class="form-check-label">Active</label>
              </div>

              <div class="form-check-inline form-check">
                <input type="radio" ngModel #isTikiNow="ngModel" class="form-check-input" value="false" name="isTikiNow">
                <label class="form-check-label">Inactive</label>
              </div>
            </div>
            
        </div>

        <button class="btn btn-primary" id="btnSubmit" type="submit" [disabled]="addForm.invalid" (click)="add(addForm.value)">Submit</button>
    </div>
  </form>
