.alert {
    position: absolute;
    height: 21px;
    padding-top: 0px;
    width: auto;
}

.row {
    padding: 0px 20px 5px;
}

#isTikiNowDiv {
    padding: 5px;
}

.radioIsTikiNow {
    padding-right: 15px;
}

#divRadioTikiNow {
    border: 1px solid lightgrey;
}

#btnSubmit {
    float: right;
    margin-top: 15px;
    font-size: 13px;
}

#divRadioTikiNow {
    border: 1px solid lightgray;
}