<h3>This is a Reactive Form</h3>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="productForm"
    class="row justify-content-md-center">
    <div class="col-md-4">
        <img [src]="productForm.controls.imageUrl.value"/>
    </div>
    
    <div class="col-md-4">

      <div class="form-group row">
        <label class="col-form-label">Title</label>
        <input class="form-control" type="text" formControlName="title">
        <div class="col-md-10">  
            <div *ngIf="productForm.controls.title?.touched
                && productForm.controls.title?.invalid            
                && productForm.controls.title?.errors?.required"
                class="col alert alert-danger" role="alert">
                Please provide an title.
            </div>
        </div>       
      </div>

      <div class="form-group row">
        <label class="col-form-label">Image Url</label>
        <input class="form-control" type="url" formControlName="imageUrl">
        <div class="col-md-10">         
          <div *ngIf="productForm.controls.imageUrl?.touched
              && productForm.controls.imageUrl?.invalid
              && productForm.controls.imageUrl?.errors?.required "
              class="col alert alert-danger" role="alert">
              Please provide an image Url.
          </div>
          <div *ngIf="productForm.controls.imageUrl?.errors?.pattern"
            class="col alert alert-danger" role="alert">
              Please provide a valid Url.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label">Author</label>
        <input class="form-control" type="text" formControlName="author">
        <div class="col-md-10">  
            <div *ngIf="productForm.controls.author?.touched
                && productForm.controls.author?.invalid            
                && productForm.controls.author?.errors?.required"
                class="col alert alert-danger" role="alert">
                Please provide an Author name.
            </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label">Final Price</label>
        <input class="form-control" type="text" formControlName="finalPrice">
        <div class="col-md-10">  
            <div *ngIf="productForm.controls.finalPrice?.touched
                && productForm.controls.finalPrice?.invalid            
                && productForm.controls.finalPrice?.errors?.required"
                class="col alert alert-danger" role="alert">
                Please provide an Final Price.
            </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label">Regular Price</label>
        <input class="form-control" type="tel" formControlName="regularPrice">
        <div class="col-md-10">  
            <div *ngIf="productForm.controls.regularPrice?.touched
                && productForm.controls.regularPrice?.invalid            
                && productForm.controls.regularPrice?.errors?.required"
                class="col alert alert-danger" role="alert">
                Please provide an Regular Price.
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="form-group row">
            <label class="col-form-label">Publisher</label>           
            <select class="form-control" type="tel" formControlName="publisher">
            <option *ngFor="let p of publishers" [value]="p.value">{{p.value}}</option>
            </select>  
            <div class="col-md-10">  
                <div *ngIf="productForm.controls.publisher?.touched
                    && productForm.controls.publisher?.invalid            
                    && productForm.controls.publisher?.errors?.required"
                    class="col alert alert-danger" role="alert">
                    Please provide an Publisher.
                </div>
            </div>      
        </div>

        <div class="form-group row">
            <label  class="col-form-label">Published Date</label>         
            <input class="form-control" type="tel" formControlName="publishedDate">
            
        </div>

        <div class="form-group row">
            <label class="col-form-label">Size</label>           
            <input class="form-control" type="tel" formControlName="size">          
        </div>

        <div class="form-group row">
            <label class="col-form-label">Page Count</label>
            <input class="form-control" type="tel" formControlName="pageCount">
        </div>

        <div id="isTikiNowDiv">
            <label>TikiNow</label><br/>
            <div id="divRadioTikiNow">
              <div class="form-check-inline form-check">
                <input type="radio" class="form-check-input" value="true" formControlName="isTikiNow">
                <label class="form-check-label">Active</label>
              </div>

              <div class="form-check-inline form-check">
                <input type="radio" class="form-check-input" value="false" formControlName="isTikiNow">
                <label class="form-check-label">Inactive</label>
              </div>
            </div>
            
        </div>

        <button class="btn btn-primary" id="btnSubmit" type="submit" >Submit</button>
    </div>
  </form>

