
<div class="fit-body">


    <!-- <button type="button" class="btn btn-default" style="margin: 120px 0px;" (click)="submit()">Button</button> -->

    <button id="btnAdd" type="button" class="btn btn-primary" (click)="onClickAdd()">Add Product</button> 

    <table class="table table-hover" style="margin-top: 0px;">
        <thead>
            <tr class="table-primary">
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Action</th>
            </tr>        
        </thead>

        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.title}}</td>
                <td>{{p.author}}</td>
                <td>{{p.publisher}}</td>
                <td><button type="button" class="btn btn-info" (click)="viewDetail(p)">Detail</button></td>
            </tr>
        </tbody>    
    </table>

    

    <app-admin-product-detail [product]="selectedProduct"></app-admin-product-detail>

    <!-- <app-admin-product-form *ngIf="isAdding" ></app-admin-product-form> -->

    <app-admin-product-reactive-form *ngIf="isAdding"></app-admin-product-reactive-form>

</div>
